Lead-to-Support Automation v2.json
{
  "name": "Lead-to-Support Automation v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-webhook",
        "options": {}
      },
      "id": "03d98789-711d-44ae-b284-c6220a523e3e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "webhookId": "3c7abafe-33bb-4d96-871e-63bd223d177b"
    },
    {
      "parameters": {
        "jsCode": "// Simplified version\nconst fullItem = $input.first().json;\nconst leadData = fullItem.body;  // Your lead data is here!\n\n// Debug\nconsole.log('Processing lead:', leadData.name);\n\nlet spamReasons = [];\nconst spamKeywords = ['viagra', 'casino', 'lottery', 'prize', 'winner'];\n\n// Validate\nconst required = ['name', 'email', 'message', 'urgency', 'product'];\nfor (const field of required) {\n  if (!leadData[field]) {\n    throw new Error(`Missing ${field}`);\n  }\n}\n\n// Spam checks\nif (spamKeywords.some(k => leadData.message.toLowerCase().includes(k))) {\n  spamReasons.push('Spam keywords detected');\n}\n\n// Return ONLY the lead data plus spam info\nreturn [{\n  name: leadData.name,\n  email: leadData.email,\n  company: leadData.company || '',\n  message: leadData.message,\n  urgency: leadData.urgency,\n  product: leadData.product,\n  spamDetected: spamReasons.length > 0,\n  spamReasons: spamReasons.join(', '),\n  spamScore: spamReasons.length,\n  processedAt: new Date().toISOString()\n}];"
      },
      "id": "86084aa1-3e1b-4531-b44a-3c78036e50e4",
      "name": "Spam Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
              "leftValue": "={{ $json.spamDetected }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8f66795-c0b3-4bdf-bbd5-2dcf05269608",
      "name": "Check Spam",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app1Dyz2SNXDLS44P",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblZWof3jfHzA2IWl",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app1Dyz2SNXDLS44P/tblZWof3jfHzA2IWl"
        },
        "options": {}
      },
      "id": "7dee8c70-5f86-425a-b272-f6f26208ba1d",
      "name": "Check Duplicates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "3QJQTAVm9RTCwMGJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f47ac10b-58cc-4372-a567-0e02b2c3d480",
              "leftValue": "={{ Boolean($json ? ($json.length || $json.recordsCount) : false) }}",
              "rightValue": "=0",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2934cfe2-38c6-4a65-b5c3-4d30f9d5d7fb",
      "name": "No Duplicate Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Enrich lead data\nconst item = $input.first().json;\nlet company = item.company;\nlet domain = '';\n\n// Extract from email if no company provided\nif (!company && item.email) {\n  domain = item.email.split('@')[1] || '';\n  if (domain) {\n    // Simple domain to company name conversion\n    company = domain.split('.')[0]\n      .replace(/-/g, ' ')\n      .split(' ')\n      .map(word => word.charAt(0).toUpperCase() + word.slice(1))\n      .join(' ');\n  }\n}\n\n// Return ONLY enriched lead data\nreturn [{\n  name: item.name,\n  email: item.email,\n  message: item.message,\n  urgency: item.urgency,\n  product: item.product,\n  company: company || 'Unknown',\n  domain: domain,\n  spamScore: item.spamScore || 0,\n  leadId: 'LEAD-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9),\n  createdAt: item.createdAt,\n  enrichedAt: new Date().toISOString(),\n  status: item.urgency === 'high' ? 'urgent' : 'normal'\n}];"
      },
      "id": "0d8ef126-5045-4d6a-a771-0f065771ea2a",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1Dyz2SNXDLS44P",
          "mode": "id"
        },
        "table": "Leads",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "da1a91c0-313e-4630-a24f-6b2746471d6f",
      "name": "Store Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        608,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3QJQTAVm9RTCwMGJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f47ac10b-58cc-4372-a567-0e02b2c3d481",
              "leftValue": "={{ $json.fields.urgency }}",
              "rightValue": "=high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11df51cc-d726-465b-b56b-83e16dd6234c",
      "name": "Check Urgency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AMJP3MBK6",
          "mode": "list",
          "cachedResultName": "support-leads"
        },
        "text": "=🚨 *URGENT SUPPORT REQUEST* 🚨\nName: {{ $json.fields.name }}\nCompany: {{ $json.fields.company }}\nProduct: {{ $json.fields.product }}\nEmail: {{ $json.fields.email }}\nMessage: {{ $json.fields.message }}\nLead ID: {{ $json.fields.leadId }}",
        "otherOptions": {}
      },
      "id": "73713d61-f197-432a-98fc-f67552ae62e1",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1008,
        -64
      ],
      "webhookId": "09a94174-21a2-4ab4-b3da-69a353f1451a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "guD8K6VO6C8cgVXb",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "sowmya.arun2383@gmail.com",
        "toEmail": "={{ $('Store Lead').item.json.fields.email }}",
        "subject": "={{ 'Thank you for contacting support - ' + $('Store Lead').item.json.fields.product }}",
        "text": "={{ 'Dear ' + $('Store Lead').item.json.fields.name + ',\\n\\nThank you for contacting our support team. We have received your request regarding ' + $('Store Lead').item.json.fields.product + '.\\n\\nYour request ID: ' + $('Store Lead').item.json.fields.leadId + '\\n\\nWe will get back to you shortly.\\n\\nBest regards,\\nSupport Team' }}",
        "options": {}
      },
      "id": "9a52298c-2880-4909-a33b-6e30a8749a15",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1008,
        288
      ],
      "webhookId": "07d58296-c60f-4b0b-9699-ea244ce0ca4c",
      "credentials": {
        "smtp": {
          "id": "WQulTiyg3FnVsSTA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1Dyz2SNXDLS44P",
          "mode": "id"
        },
        "table": "FailedLeads",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "71c5b33b-2014-4f09-a7fc-42ec6c2241ab",
      "name": "Dead Letter Queue",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        336,
        256
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3QJQTAVm9RTCwMGJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app1Dyz2SNXDLS44P",
          "mode": "id"
        },
        "table": "Leads",
        "filterByFormula": "IS_SAME({createdAt}, TODAY(), 'day')",
        "options": {}
      },
      "id": "6c89c6d0-2ca8-49a5-a27f-611958118f38",
      "name": "Fetch Today's Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -400,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3QJQTAVm9RTCwMGJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate daily digest\nconst leads = $input.all();\n\n// Count by urgency\nconst urgencyCount = {\n  high: leads.filter(l => l.json.urgency === 'high').length,\n  normal: leads.filter(l => l.json.urgency === 'normal').length\n};\n\n// Count by product\nconst productCount = {};\nleads.forEach(lead => {\n  const product = lead.json.product || 'Unknown';\n  productCount[product] = (productCount[product] || 0) + 1;\n});\n\n// Recent leads\nconst recentLeads = leads\n  .slice(0, 5)\n  .map(lead => ({\n    name: lead.json.name,\n    company: lead.json.company,\n    urgency: lead.json.urgency,\n    product: lead.json.product,\n    time: new Date(lead.json.createdAt).toLocaleTimeString()\n  }));\n\nreturn [{\n  totalLeads: leads.length,\n  urgencyCount,\n  productCount,\n  recentLeads,\n  date: new Date().toLocaleDateString()\n}];"
      },
      "id": "c01e7961-7f83-4b37-af75-1c28b141a347",
      "name": "Generate Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AMJP3MBK6",
          "mode": "list",
          "cachedResultName": "support-leads"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"channel\": \"support-leads\",\n  \"text\": \"Daily Support Digest - {{ $json.date }}\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📊 Daily Support Digest\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Date:* {{ $json.date }}\\n*Total Leads:* {{ $json.totalLeads }}\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*🔥 High Urgency:*\\n{{ $json.urgencyCount.high }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*✅ Normal:*\\n{{ $json.urgencyCount.normal }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📦 By Product:*\\n{{ Object.entries($json.productCount).map(([product, count]) => `• *${product}*: ${count}`).join('\\\\n') }}\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🕐 Most Recent Leads:*\\n{{ $json.recentLeads.map((lead, index) => (index+1) + '. *' + lead.name + '* (' + lead.company + ')\\\\n   • *' + lead.product + '* - ' + lead.urgency.toUpperCase() + '\\\\n   • ⏱️ ' + lead.time).join('\\\\n') }}\"\n      }\n    }\n  ]\n}",
        "text": "={{ '📊 Daily Support Digest - ' + $json.date }}",
        "otherOptions": {}
      },
      "id": "867cf3f4-f2b7-4a0d-8662-c092ab82e30e",
      "name": "Send Daily Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "6f36d88b-da10-4574-94b5-7d18506c7132",
      "credentials": {
        "slackOAuth2Api": {
          "id": "guD8K6VO6C8cgVXb",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c0b37e3-a02b-4b2f-90df-7a909ed440c6",
              "name": "name",
              "value": "={{ $('Check Spam').item.json.name }}",
              "type": "string"
            },
            {
              "id": "b021dc83-820f-4b4e-813f-daba8a92b873",
              "name": "email",
              "value": "={{ $('Check Spam').item.json.email }}",
              "type": "string"
            },
            {
              "id": "d79280cd-518d-43d5-8e12-45f7ce45c9cf",
              "name": "company",
              "value": "={{ $('Check Spam').item.json.company }}",
              "type": "string"
            },
            {
              "id": "972ed708-2f6f-47ea-96a9-0c22adb17a03",
              "name": "message",
              "value": "={{ $('Check Spam').item.json.message }}",
              "type": "string"
            },
            {
              "id": "cc7e05b6-b190-4622-9061-595ddd639f8c",
              "name": "urgency",
              "value": "={{ $('Check Spam').item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "7628d83d-8f3a-48a7-93f3-ac1f1a67fa4f",
              "name": "product",
              "value": "={{ $('Check Spam').item.json.product }}",
              "type": "string"
            },
            {
              "id": "23c78d6b-53c4-4bfe-b160-474aa5eb8db0",
              "name": "createdAt",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "9d522b69-82aa-4489-b49c-cfdcf40bec96",
              "name": "processedAt",
              "value": "={{ $('Check Spam').item.json.processedAt }}",
              "type": "string"
            },
            {
              "id": "6353bb19-3917-4313-b4c2-86f2f4842f0b",
              "name": "spamScore",
              "value": "={{ $('Check Spam').item.json.spamScore }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "98cbe801-3d19-44c9-b418-3386811c1766",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "My Software Team"
        },
        "issueType": {
          "__rl": true,
          "value": "10007",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "=🚨 *URGENT SUPPORT REQUEST* 🚨 Name: {{ $json.fields.name }} Company: {{ $json.fields.company }} Product: {{ $json.fields.product }} Email: {{ $json.fields.email }} Message: {{ $json.fields.message }} Lead ID: {{ $json.fields.leadId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1008,
        112
      ],
      "id": "4603e7f1-e586-4579-8486-1e09f2c0ee9f",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "xNSZ0AIqxWOyKNgT",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        400
      ],
      "id": "8de03cba-06dc-41b8-9b96-cfbb6a8a4106",
      "name": "Daily Digest Executions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d32c4ca9-8b81-4510-8d49-e674210f4225",
              "name": "leadData",
              "value": "={{ 'LEAD-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "c4af3c65-6b67-45f6-af60-76348f98f962",
              "name": "errorReason",
              "value": "={{ $json.spamReasons }}",
              "type": "string"
            },
            {
              "id": "39d20a7a-b610-4672-b465-5b0c707e4ff7",
              "name": "failedAt",
              "value": "={{ $json.processedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        256
      ],
      "id": "6df7ecc7-7757-4abb-906e-7b5a91f1bc27",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Spam Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spam Detection": {
      "main": [
        [
          {
            "node": "Check Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Spam": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates": {
      "main": [
        [
          {
            "node": "No Duplicate Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Duplicate Found": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Store Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Lead": {
      "main": [
        [
          {
            "node": "Check Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Urgency": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Leads": {
      "main": [
        [
          {
            "node": "Generate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Digest": {
      "main": [
        [
          {
            "node": "Send Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Digest Executions": {
      "main": [
        [
          {
            "node": "Fetch Today's Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Dead Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "68d0f2aa-dc56-4f8b-b03c-32d9bd863590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4094db82f716a5d2a17f42e47c2864c31b5ed326a13cdef2e1f692c67bb9509f"
  },
  "id": "3vQdfEDQHOjU3Gv6",
  "tags": []
}